{% extends "django_presskit/base.html" %}
{% load dpk_util thumbnail %}

{% block title %}{{project.title}} Presskit{% endblock %}

{% block identity %}
<h1>{{project.title}}</h1>
<a href="{% url 'default' %}" class="identity-link">press kit</a>
{% endblock %}

{% block header %}
{% if project.header_image %}
  <img class="header-image" src="{{ project.header_image.url }}">
{% endif %}
{% endblock %}{# header #}

{% block above-fold %}
{% if project.description %}
  <section id="description">
    <h2>Description</h2>

    {{project.description | markdown}}
  </section>
{% endif %}

{% if project.history %}
  <section id="history">
    <h2>History</h2>

    {{project.history | markdown}}
  </section>
{% endif %}

{% if project.feature_set.count %}
  <section id="features">
    <h2>Features</h2>

    <ul class="feature-list">
      {% for feature in project.feature_set.all %}
        <li>{{feature.description | markdown}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if project.project_set.count %}
  <section id="projects">
    <h2>Projects</h2>

    <ul class="projects-list">
      {% for project in project.project_set.all %}
        <li><a href="{% url 'project' project.id %}">{{project.title}}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% endblock %}{# above-fold #}

{% block factsheet %}
<h2>Factsheet</h2>

<section>
  <h3>Developer:</h3>
  <p>
    {% if project.company.website %}
      <a href="{{project.company.website | absolute_url}}">{{project.company.title}}</a>
    {% else %}
      {{project.company.title}}
    {% endif%}
    {% if project.company.based_in %}<br>Based in {{project.company.based_in}}{% endif %}
  </p>
</section>

{% if project.release_date %}
<section>
  <h3>Release Date:</h3>
  <p>{{project.release_date}}</p>
</section>
{% endif %}

{% if project.platform_set.count %}
<section>
  <h3>Platforms:</h3>
  <ul>
  {% for platform in project.platform_set.all %}
    <li><a href="{{ platform.website }}">{{platform.name}}</a></li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if project.website %}
<section>
  <h3>Website:</h3>
  <p><a href="{{project.website}}">{{project.website}}</a></p>
</section>
{% endif %}

{% if project.price_set.count %}
<section>
  <h3>Regular Price:</h3>
  <ul>
  {% for price in project.price_set.all %}
    <li>{{price.price}}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% endblock %}{# factsheet #}

{% block below-fold %}
{% if project.videos.count %}
  <section id="videos">
    <h2>Videos</h2>
    <ul>
    {% for video in project.videos %}
      <li>
        {% if video.embed_url %}<a href="{{ video.embed_url }}"{% endif%}
          {{ video.name }}
        {% if video.embed_url %}</a>{% endif %}
        {% if video.file %}(<a href="{{video.file.url}}" download>Download</a>){% endif %}
    {% endfor %}
    </ul>
  </section>
{% endif %}

{% if project.images.count %}
  <section id="images">
    <h2>Images</h2>
    {% for image in project.images.all %}
      <a href="{{ image.content.url }}"><img class="attached-image" src="{% thumbnail image.content 250x250 crop %}"></a>
    {% endfor %}
    <p><a href="{% url 'project_zip' project.id %}">Download as ZIP archive</a></p>
  </section>
{% endif %}

{% if project.logos.count %}
  <section id="logos">
    <h2>Logo &amp; Icon</h2>
    {% for image in project.logos.all %}
      <a href="{{ image.content.url }}"><img class="attached-image" src="{% thumbnail image.content 250x250 crop %}"></a>
    {% endfor %}
    <p><a href="{% url 'project_logo_zip' project.id %}">Download as ZIP archive</a></p>
  </section>
{% endif %}

{% if project.awards.count %}
  <section id="awards">
    <h2>Awards &amp; Recognition</h2>
    <ul>
    {% for award in project.awards.all %}
      <li>{{award.description}} {% if award.info %}<cite>{{award.info}}</cite>{% endif %}</li>
    {% endfor %}
    </ul>
  </section>
{% endif %}

{% if project.quotes.count %}
  <section id="quotes">
    <h2>Selected Articles</h2>
    {% for quote in project.quotes.all %}
      <blockquote class="quotation quotation--project">
        {{quote.description | markdown}}
        <cite>
          <a href="{{quote.website | absolute_url}}">
            {{quote.reviewer}},
            <span class='quotation__publication'>{{quote.publication_name}}</span>
          </a>
        </cite>
      </blockquote>
    {% endfor %}
  </section>
{% endif %}

{% if project.additional_links.count %}
  <section id="additional-links">
    <h2>Additional Links</h2>
    {% for link in project.additional_links.all %}
      <h3 class="additional-links">{{link.title}}</h3>

      <p>{{link.description}} <a href="{{link.website | absolute_url}}">{{link.website | domain}}</a></p>
    {% endfor %}
  </section>
{% endif %}

<div class="bottom-columns">

{% if project.credits.count %}
<section id="team">
  <h2>{{project.title}} Credits</h2>
  {% for credit in project.credits.all %}
    <section class="credit">
      <h3>{{credit.person}}</h3>
      {% if credit.website or credit.role %}
        {% if credit.website %}<a href="{{credit.website | absolute_url}}">{% endif %}
          {{ credit.role|default:"Website" }}
        {% if credit.website %}</a>{% endif %}
      {% endif %}
    </section>
  {% endfor %}
</section>
{% endif %}

{% if project.contacts.count %}
<section id="contact">
  <h2>Contact</h2>
  {% for contact in project.contacts.all %}
    <h3>{{contact.name}}</h3>

    {% if contact.website %}
      <p><a href="{{contact.website | absolute_url}}">{{contact.website}}</a></p>
    {% endif %}

    {% if contact.email %}
      <p><a href="{{contact.email | absolute_url}}">{{contact.email}}</a></p>
    {% endif %}
  {% endfor %}
</section>
{% endif %}

</div>

{% endblock %}{# below-fold #}

{% block navigation %}
<ul class="main-navigation">
  {% optional_navitem project 'factsheet' 'Factsheet' %}
  {% optional_navitem project.description 'description' 'Description' %}
  {% optional_navitem project.history 'history' 'History' %}
  {% optional_navitem project.feature_set.count 'features' 'Features' %}
  {% optional_navitem project.project_set.count 'projects' 'Projects' %}
  {% optional_navitem project.videos.count 'videos' 'Videos' %}
  {% optional_navitem project.images.count 'images' 'Images' %}
  {% optional_navitem project.logos.count 'logos' 'Logo &amp; Icon' %}
  {% optional_navitem project.awards.count 'awards' 'Awards &amp; Recognition' %}
  {% optional_navitem project.quotes.count 'quotes' 'Selected Articles' %}
  {% optional_navitem project.additional_links.count 'quotes' 'Additional Links' %}
  {% optional_navitem project.credits.count 'team' 'Team' %}
  {% optional_navitem project 'contact' 'Contact' %}
</ul>
{% endblock %}{# navigation #}

{% block pageend %}
{% if project.analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{project.analytics}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% endblock %}
